<!doctype html>
<html ng-app="myApp">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/f737751420.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Bangers&family=Chakra+Petch:ital,wght@0,400;1,300;1,400;1,700&family=Grenze&family=Patrick+Hand&family=Playfair+Display+SC&family=Road+Rage&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Bangers&family=Chakra+Petch:ital,wght@0,400;1,300;1,400;1,700&family=Grenze&family=Patrick+Hand&family=Roboto&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>

<title>Trang chủ</title>
<style type="text/css">
.dropdown-item {
	padding-top: 0;
	padding-bottom: 0;
}

.red-heart {
	color: red;
	/* Màu đỏ cho trái tim đã thích */
}

.gray-heart {
	color: gray;
	/* Màu xám cho trái tim chưa thích */
}

div.dropdown-menu.baoCao {
	transform: translate(-80%, 39px);
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
	max-width: 100%;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	opacity: 0;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 17rem;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	padding-right: 10px;
	border-radius: 3px;
	transition: 0.5s ease-in-out;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown:hover .dropdown-content {
	display: block;
	transition: 0.5s ease-in-out;
	opacity: 1;
}

.uploaded-image {
	width: 100%;
	max-width: 100%;
	height: auto;
	margin-bottom: 7px;
}
</style>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
<script src="/js/thoiTiet.js"></script>
</head>

<body style="padding-top: 70px;" ng-controller="myCtrl">
	<div style="transition: 0.5s;">
		<div class="row ">
			<aside class="left-sidebar animate__animated animate__backInRight"
				style="z-index: 100; position: fixed; top: 0;">
				<div>
					<div
						class="brand-logo d-flex align-items-center justify-content-between">
						<a href="./index.html" class="text-nowrap logo-img"
							style="color: #222; font-weight: bolder; font-family: 'robo';">
							<img src="images/chimLac.png" height="30px" alt="">
							VIE_SONET
						</a>
					</div>
					<nav class="sidebar-nav scroll-sidebar" data-simplebar="init">
						<div class="simplebar-wrapper" style="margin: 0px -24px;">
							<div class="simplebar-height-auto-observer-wrapper">
								<div class="simplebar-height-auto-observer"></div>
							</div>
							<div class="simplebar-mask">
								<div class="simplebar-offset" style="right: 0px; bottom: 0px;">
									<div class="simplebar-content-wrapper"
										style="height: 100%; overflow: hidden;">
										<div class="simplebar-content" style="padding: 0px 24px;">
											<ul id="sidebarnav">
												<li class="nav-small-cap"><i
													class="ti ti-dots nav-small-cap-icon fs-4"></i> <span
													class="hide-menu">Chung</span></li>
												<li class="sidebar-item"><a class="sidebar-link"
													href="#" aria-expanded="false"> <span> <i
															class="fa-sharp fa-regular fa-house"></i>
													</span> <span class="hide-menu">&nbsp; Trang chủ</span>
												</a></li>
												<li class="sidebar-item"><a class="sidebar-link"
													href="#" aria-expanded="false"> <span> <i
															class="fa-regular fa-magnifying-glass"></i>
													</span> <span class="hide-menu">&nbsp; Tìm kiếm</span>
												</a></li>
												<li class="sidebar-item"><a class="sidebar-link"
													href="#" aria-expanded="false"> <span> <i
															class="fa-light fa-handshake"></i>
													</span> <span class="hide-menu">&nbsp; Gợi ý</span>
												</a></li>
												<li class="nav-small-cap"><i
													class="ti ti-dots nav-small-cap-icon fs-4"></i> <span
													class="hide-menu">Quản Lý</span></li>
												<li class="sidebar-item"><a class="sidebar-link active"
													href="#" aria-expanded="false"> <span> <svg
																class="svg-inline--fa fa-users" aria-hidden="true"
																focusable="false" data-prefix="far" data-icon="users"
																role="img" xmlns="http://www.w3.org/2000/svg"
																viewBox="0 0 640 512" data-fa-i2svg="">
                                                                <path
																	fill="currentColor"
																	d="M144 160A80 80 0 1 0 144 0a80 80 0 1 0 0 160zm368 0A80 80 0 1 0 512 0a80 80 0 1 0 0 160zM0 298.7C0 310.4 9.6 320 21.3 320H234.7c.2 0 .4 0 .7 0c-26.6-23.5-43.3-57.8-43.3-96c0-7.6 .7-15 1.9-22.3c-13.6-6.3-28.7-9.7-44.6-9.7H106.7C47.8 192 0 239.8 0 298.7zM405.3 320H618.7c11.8 0 21.3-9.6 21.3-21.3C640 239.8 592.2 192 533.3 192H490.7c-15.9 0-31 3.5-44.6 9.7c1.3 7.2 1.9 14.7 1.9 22.3c0 38.2-16.8 72.5-43.3 96c.2 0 .4 0 .7 0zM320 176a48 48 0 1 1 0 96 48 48 0 1 1 0-96zm0 144a96 96 0 1 0 0-192 96 96 0 1 0 0 192zm-58.7 80H378.7c39.8 0 73.2 27.2 82.6 64H178.7c9.5-36.8 42.9-64 82.6-64zm0-48C187.7 352 128 411.7 128 485.3c0 14.7 11.9 26.7 26.7 26.7H485.3c14.7 0 26.7-11.9 26.7-26.7C512 411.7 452.3 352 378.7 352H261.3z">
                                                                </path>
                                                            </svg> <!-- <i class="fa-regular fa-users"></i> -->
													</span> <span class="hide-menu">Người dùng</span>
												</a> <a class="sidebar-link" href="#" aria-expanded="false">
														<span> <svg class="svg-inline--fa fa-memo-pad"
																aria-hidden="true" focusable="false" data-prefix="far"
																data-icon="memo-pad" role="img"
																xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"
																data-fa-i2svg="">
                                                                <path
																	fill="currentColor"
																	d="M400 128V448c0 8.8-7.2 16-16 16H64c-8.8 0-16-7.2-16-16V128H400zM64 0C28.7 0 0 28.7 0 64V448c0 35.3 28.7 64 64 64H384c35.3 0 64-28.7 64-64V64c0-35.3-28.7-64-64-64H64zM96 200c0 13.3 10.7 24 24 24H328c13.3 0 24-10.7 24-24s-10.7-24-24-24H120c-13.3 0-24 10.7-24 24zm0 96c0 13.3 10.7 24 24 24H328c13.3 0 24-10.7 24-24s-10.7-24-24-24H120c-13.3 0-24 10.7-24 24zm0 96c0 13.3 10.7 24 24 24H232c13.3 0 24-10.7 24-24s-10.7-24-24-24H120c-13.3 0-24 10.7-24 24z">
                                                                </path>
                                                            </svg> <!-- <i class="fa-regular fa-memo-pad"></i> -->
													</span> <span class="hide-menu"> &nbsp; &nbsp;Bài viết</span>
												</a> <a class="sidebar-link" href="#" aria-expanded="false">
														<span> <svg
																class="svg-inline--fa fa-memo-circle-info"
																aria-hidden="true" focusable="false" data-prefix="far"
																data-icon="memo-circle-info" role="img"
																xmlns="http://www.w3.org/2000/svg" viewBox="0 0 576 512"
																data-fa-i2svg="">
                                                                <path
																	fill="currentColor"
																	d="M320 48H64c-8.8 0-16 7.2-16 16V448c0 8.8 7.2 16 16 16H284.5c12 18.4 27.4 34.5 45.3 47.3c-3.2 .5-6.4 .7-9.7 .7H64c-35.3 0-64-28.7-64-64V64C0 28.7 28.7 0 64 0H320c35.3 0 64 28.7 64 64V198.6c-17.2 4.9-33.4 12.3-48 21.8V64c0-8.8-7.2-16-16-16zM96 152c0-13.3 10.7-24 24-24H264c13.3 0 24 10.7 24 24s-10.7 24-24 24H120c-13.3 0-24-10.7-24-24zm24 72H264c13.3 0 24 10.7 24 24s-10.7 24-24 24H120c-13.3 0-24-10.7-24-24s10.7-24 24-24zm0 96h48c13.3 0 24 10.7 24 24s-10.7 24-24 24H120c-13.3 0-24-10.7-24-24s10.7-24 24-24zm312-96a144 144 0 1 1 0 288 144 144 0 1 1 0-288zm0 96a24 24 0 1 0 0-48 24 24 0 1 0 0 48zm-32 48c0 8.8 7.2 16 16 16h0v48h0c-8.8 0-16 7.2-16 16s7.2 16 16 16h16 16c8.8 0 16-7.2 16-16s-7.2-16-16-16V368c0-8.8-7.2-16-16-16H416c-8.8 0-16 7.2-16 16z">
                                                                </path>
                                                            </svg> <!-- <i class="fa-regular fa-memo-circle-info"></i> -->
													</span> <span class="hide-menu"> &nbsp; Bài viết vi phạm</span>
												</a></li>
											</ul>
										</div>
									</div>
								</div>
							</div>
							<div class="simplebar-placeholder"
								style="width: auto; height: 312px;"></div>
						</div>
						<div class="simplebar-track simplebar-horizontal"
							style="visibility: hidden;">
							<div class="simplebar-scrollbar"
								style="width: 0px; display: none;"></div>
						</div>
						<div class="simplebar-track simplebar-vertical"
							style="visibility: hidden;">
							<div class="simplebar-scrollbar"
								style="height: 0px; display: none;"></div>
						</div>
					</nav>
				</div>
			</aside>
			<nav class="navbar navbar-expand-sm "
				style="padding: 0; position: fixed; top: 0; z-index: 101">
				<div class="container" style="width: 100%; padding: 0;">
					<div class="collapse navbar-collapse" id="collapsibleNavId">
						<ul class="navbar-nav me-auto mt-2 mt-lg-0">
						</ul>
						<div class="body-wrapper">
							<header class="app-header">
								<nav class="navbar navbar-expand-lg navbar-light">
									<div class="navbar-collapse justify-content-end px-0"
										id="navbarNav">
										<ul
											class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
											<li class="nav-item dropdown"><a
												class="nav-link nav-icon-hover" href="#" id="drop2"
												data-bs-toggle="dropdown" aria-expanded="false"> <svg
														class="svg-inline--fa fa-bell" aria-hidden="true"
														focusable="false" data-prefix="far" data-icon="bell"
														role="img" xmlns="http://www.w3.org/2000/svg"
														viewBox="0 0 448 512" data-fa-i2svg="">
                                                        <path
															fill="currentColor"
															d="M224 0c-17.7 0-32 14.3-32 32V49.9C119.5 61.4 64 124.2 64 200v33.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416H424c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V200c0-75.8-55.5-138.6-128-150.1V32c0-17.7-14.3-32-32-32zm0 96h8c57.4 0 104 46.6 104 104v33.4c0 47.9 13.9 94.6 39.7 134.6H72.3C98.1 328 112 281.3 112 233.4V200c0-57.4 46.6-104 104-104h8zm64 352H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z">
                                                        </path>
                                                    </svg>
													<div class="circle mb-2"></div>
											</a>
												<div style="background: whitesmoke;"
													class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
													aria-labelledby="drop2">
													<div class="message-body">
														<a href="#"
															class="d-flex align-items-center gap-2 dropdown-item">
															<i class="ti ti-user fs-6"></i>
															<p class="mb-0 fs-3">Thông báo 1</p>
														</a> <a href="#"
															class="d-flex align-items-center gap-2 dropdown-item">
															<i class="ti ti-user fs-6"></i>
															<p class="mb-0 fs-3">Thông báo 2</p>
														</a> <a href="#"
															class="d-flex align-items-center gap-2 dropdown-item">
															<i class="ti ti-user fs-6"></i>
															<p class="mb-0 fs-3">Thông báo 3</p>
														</a>
													</div>
												</div></li>
											<li class="nav-item dropdown"><a
												class="nav-link nav-icon-hover" href="#" id="drop2"
												data-bs-toggle="dropdown" aria-expanded="false"> <img
													src="images/duyQuy.jpg" alt="" width="35" height="35"
													class="rounded-circle">
											</a>
												<div style="background: whitesmoke;"
													class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
													aria-labelledby="drop2">
													<div class="message-body">
														<a href="#"
															class="d-flex align-items-center gap-2 dropdown-item">
															<i class="ti ti-user fs-6"></i>
															<p class="mb-0 fs-3">Đổi mật khẩu</p>
														</a> <a href="#"
															class="d-flex align-items-center gap-2 dropdown-item">
															<i class="ti ti-mail fs-6"></i>
															<p class="mb-0 fs-3">Thông tin điều khoản</p>
														</a> <a href="#"
															class="d-flex align-items-center gap-2 dropdown-item">
															<i class="ti ti-list-check fs-6"></i>
															<p class="mb-0 fs-3">Nâng cấp</p>
														</a> <a href="#"
															class="btn btn-outline-primary mx-3 mt-2 d-block">Đăng
															xuất</a>
													</div>
												</div></li>
										</ul>
									</div>
								</nav>
							</header>
							<div class="container-fluid">
								<div class="row"></div>
							</div>

						</div>
					</div>
				</div>
			</nav>

			<div class="col-md-6 offset-md-3" style="z-index: 10;">
				<div class="msger">
					<header class="msger-header">
						<div class="msger-header-title">
							<i class="fas fa-comment-alt"></i> SimpleChat
						</div>
						<div class="msger-header-options">
							<span><i class="fas fa-cog"></i></span>
						</div>
					</header>
					<main class="msger-chat img-thumbnail">
						<div class="msg"
							ng-class="{'left-msg': mess.sender.userId !== 'UI011', 'right-msg': mess.sender.userId === 'UI011'}"
							ng-repeat="mess in ListMess">
							<div class="msg-img"
								style="background-image: url(images/{{mess.sender.avatar}})"></div>
							<div class="msg-bubble">
								<div class="msg-info">
									<div class="msg-info-name">{{mess.sender.username}}</div>
									<div class="msg-info-time">
									{{ getFormattedTimeAgo(mess.sendDate) }}
									</div>
								</div>
								<div class="msg-text">{{mess.content}}</div>
							</div>
						</div>

					</main>

					<form class="msger-inputarea">
						<input type="text" class="msger-input"
							placeholder="Enter your message...">
						<button type="submit" class="msger-send-btn">Send</button>
					</form>
				</div>

			</div>
			<div class="col-md-3 menuLeft animate__animated animate__backInRight"
				style="position: fixed; right: 0; top: 70px;">
				<ul class="list-unstyled mb-0" style="padding-left: 8px">
                <li ng-repeat="UsersMess in ListUsersMess" class="p-2 border-bottom" style="background-color: #eee;">
                  <div class="user-profile " ng-click="UsersMess">
												<a href="/nguoiDung/0111111118"><img ng-src="/images/{{ UsersMess[4] }}" style="border-radius: 100%;" alt=""></a>
												<div style="width: 100%">
													<label class="ng-binding">{{ UsersMess[1] }}</label>
													<!-- <i class="fa-solid fa-earth-americas fa-xs"></i> -->
													<br> 
													<div style="display: flex; justify-content: space-between;">
													<small style="font-size: 12px;">{{UsersMess[6]}}</small>
													<small style="font-size: 12px; color: #65676b" class="ng-binding">
														{{getFormattedTimeAgo(UsersMess[7]) }} </small>
													</div>
													
												</div>
											</div>
                </li>
                
              </ul>
				</div>
		</div>
	</div>
	
	<!-- load ảnh -->
	<script>
  let input = document.getElementById('inputGroupFile01');
  let imageList = document.getElementById('imageList');

  input.onchange = (e) => {
    imageList.innerHTML = ''; // Xóa danh sách hình ảnh hiện tại

    for (let i = 0; i < input.files.length; i++) {
      let img = document.createElement('img');
      img.src = URL.createObjectURL(input.files[i]);
      img.className = 'uploaded-image';
      imageList.appendChild(img);
    }
  };
</script>
	<script type="text/javascript">
angular.module('myApp', [])
.controller('myCtrl', function ($scope, $http) {
    $scope.LikePost = [];
    $scope.ListUsersMess = [];
    $http.get('/getmess')
        .then(function (response) {
            var ListMess = response.data;
            $scope.ListMess = ListMess;
           
        })
        .catch(function (error) {
            console.log(error);
        });
    
    $http.get('/getusersmess')
    .then(function (response) {
        var ListUsersMess = response.data;
        $scope.ListUsersMess = ListUsersMess;
        
       
    })
    .catch(function (error) {
        console.log(error);
    });
    
    $scope.getFormattedTimeAgo = function(date) {
    	  var currentTime = new Date();
    	  var activityTime = new Date(date);
    	  var timeDiff = currentTime.getTime() - activityTime.getTime();
    	  var seconds = Math.floor(timeDiff / 1000);
    	  var minutes = Math.floor(timeDiff / (1000 * 60));
    	  var hours = Math.floor(timeDiff / (1000 * 60 * 60));
    	  var days = Math.floor(timeDiff / (1000 * 60 * 60 * 24));

    	  if (days === 0) {
    	    if (hours === 0 && minutes === 0) {
    	      return seconds + ' giây trước';
    	    } else if (hours === 0) {
    	      return minutes + ' phút trước';
    	    } else {
    	      return hours + ' giờ trước';
    	    }
    	  } else if (days === 1) {
    	    var formattedTime = 'Hôm qua';
    	    var hours = String(activityTime.getHours()).padStart(2, '0');
    	    var minutes = String(activityTime.getMinutes()).padStart(2, '0');
    	    var seconds = String(activityTime.getSeconds()).padStart(2, '0');
    	    formattedTime += ' ' + hours + ':' + minutes ;
    	    return formattedTime;

    	  } else {
    		  var formattedTime = activityTime.getDate() + '-' + (activityTime.getMonth() + 1) + '-' + activityTime.getFullYear();
      	    var hours = String(activityTime.getHours()).padStart(2, '0');
      	    var minutes = String(activityTime.getMinutes()).padStart(2, '0');
      	    var seconds = String(activityTime.getSeconds()).padStart(2, '0');
      	    formattedTime += ' ' + hours + ':' + minutes ;
      	    return formattedTime;
    	  }
    	};

});     
</script>
<script >

</script>
</body>

</html>

</html>