<!doctype html>
<html ng-app="myApp">

<head>
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1">

<!-- Bootstrap CSS -->
<link
	href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css"
	rel="stylesheet"
	integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC"
	crossorigin="anonymous">
<script
	src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"
	integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM"
	crossorigin="anonymous"></script>
<script src="https://kit.fontawesome.com/f737751420.js"></script>
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Bangers&family=Chakra+Petch:ital,wght@0,400;1,300;1,400;1,700&family=Grenze&family=Patrick+Hand&family=Playfair+Display+SC&family=Road+Rage&display=swap"
	rel="stylesheet">
<link rel="stylesheet" href="/css/style.css">
<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link
	href="https://fonts.googleapis.com/css2?family=Alumni+Sans+Inline+One&family=Bangers&family=Chakra+Petch:ital,wght@0,400;1,300;1,400;1,700&family=Grenze&family=Patrick+Hand&family=Roboto&display=swap"
	rel="stylesheet">
<link rel="stylesheet"
	href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css" />
<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>



<title>Trang chủ</title>
<style type="text/css">
.dropdown-item {
	padding-top: 0;
	padding-bottom: 0;
}

.red-heart {
	color: red;
	/* Màu đỏ cho trái tim đã thích */
}

.gray-heart {
	color: gray;
	/* Màu xám cho trái tim chưa thích */
}

div.dropdown-menu.baoCao {
	transform: translate(-80%, 39px);
}

.container, .container-lg, .container-md, .container-sm, .container-xl {
	max-width: 100%;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	opacity: 0;
	position: absolute;
	background-color: #f9f9f9;
	min-width: 17rem;
	box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
	z-index: 1;
	padding-right: 10px;
	border-radius: 3px;
	transition: 0.5s ease-in-out;
}

.dropdown-content a {
	color: black;
	padding: 12px 16px;
	text-decoration: none;
	display: block;
}

.dropdown:hover .dropdown-content {
	display: block;
	transition: 0.5s ease-in-out;
	opacity: 1;
}

.uploaded-image {
	width: 100%;
	max-width: 100%;
	height: auto;
	margin-bottom: 7px;
}
</style>
<!-- Trong file index.html -->
<script
	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.8.2/angular.min.js"></script>

<script
	src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>



<script src="/js/thoiTiet.js"></script>
</head>

<body style="padding-top: 70px;" ng-controller="myCtrl">
	<div style="transition: 0.5s;">
		<div class="row ">
			<div ng-include="'_menuLeft.html'"></div>
			<nav class="navbar navbar-expand-sm "
				style="padding: 0; position: fixed; top: 0; z-index: 101">
				<div class="container" style="width: 100%; padding: 0;">
					<div class="collapse navbar-collapse" id="collapsibleNavId">
						<ul class="navbar-nav me-auto mt-2 mt-lg-0">
						</ul>
						<div class="body-wrapper">
							<header class="app-header">
								<nav class="navbar navbar-expand-lg navbar-light">
									<div class="navbar-collapse justify-content-end px-0"
										id="navbarNav">
										<ul
											class="navbar-nav flex-row ms-auto align-items-center justify-content-end">
											<li class="nav-item dropdown"><a
												class="nav-link nav-icon-hover" href="#" id="drop2"
												data-bs-toggle="dropdown" aria-expanded="false"> <svg
														class="svg-inline--fa fa-bell" aria-hidden="true"
														focusable="false" data-prefix="far" data-icon="bell"
														role="img" xmlns="http://www.w3.org/2000/svg"
														viewBox="0 0 448 512" data-fa-i2svg="">
                                                        <path
															fill="currentColor"
															d="M224 0c-17.7 0-32 14.3-32 32V49.9C119.5 61.4 64 124.2 64 200v33.4c0 45.4-15.5 89.5-43.8 124.9L5.3 377c-5.8 7.2-6.9 17.1-2.9 25.4S14.8 416 24 416H424c9.2 0 17.6-5.3 21.6-13.6s2.9-18.2-2.9-25.4l-14.9-18.6C399.5 322.9 384 278.8 384 233.4V200c0-75.8-55.5-138.6-128-150.1V32c0-17.7-14.3-32-32-32zm0 96h8c57.4 0 104 46.6 104 104v33.4c0 47.9 13.9 94.6 39.7 134.6H72.3C98.1 328 112 281.3 112 233.4V200c0-57.4 46.6-104 104-104h8zm64 352H224 160c0 17 6.7 33.3 18.7 45.3s28.3 18.7 45.3 18.7s33.3-6.7 45.3-18.7s18.7-28.3 18.7-45.3z">
                                                        </path>
                                                    </svg>
													<div class="circle mb-2"></div>
											</a>
												<div style="background: whitesmoke;"
													class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
													aria-labelledby="drop2">
													<div class="message-body">
														<a href="#"
															class="d-flex align-items-center gap-2 dropdown-item">
															<i class="ti ti-user fs-6"></i>
															<p class="mb-0 fs-3">Thông báo 1</p>
														</a> <a href="#"
															class="d-flex align-items-center gap-2 dropdown-item">
															<i class="ti ti-user fs-6"></i>
															<p class="mb-0 fs-3">Thông báo 2</p>
														</a> <a href="#"
															class="d-flex align-items-center gap-2 dropdown-item">
															<i class="ti ti-user fs-6"></i>
															<p class="mb-0 fs-3">Thông báo 3</p>
														</a>
													</div>
												</div></li>
											<li class="nav-item dropdown"><a
												class="nav-link nav-icon-hover" href="#" id="drop2"
												data-bs-toggle="dropdown" aria-expanded="false"> <img
													src="images/duyQuy.jpg" alt="" width="35" height="35"
													class="rounded-circle">
											</a>
												<div style="background: whitesmoke;"
													class="dropdown-menu dropdown-menu-end dropdown-menu-animate-up"
													aria-labelledby="drop2">
													<div class="message-body">
														<a href="#"
															class="d-flex align-items-center gap-2 dropdown-item">
															<i class="ti ti-user fs-6"></i>
															<p class="mb-0 fs-3">Đổi mật khẩu</p>
														</a> <a href="#"
															class="d-flex align-items-center gap-2 dropdown-item">
															<i class="ti ti-mail fs-6"></i>
															<p class="mb-0 fs-3">Thông tin điều khoản</p>
														</a> <a href="#"
															class="d-flex align-items-center gap-2 dropdown-item">
															<i class="ti ti-list-check fs-6"></i>
															<p class="mb-0 fs-3">Nâng cấp</p>
														</a> <a href="#"
															class="btn btn-outline-primary mx-3 mt-2 d-block">Đăng
															xuất</a>
													</div>
												</div></li>
										</ul>
									</div>
								</nav>
							</header>
							<div class="container-fluid">
								<div class="row"></div>
							</div>

						</div>
					</div>
				</div>
			</nav>

			<div class="col-md-6 offset-md-3" style="z-index: 10;">
				<div class="msger animate__animated animate__zoomIn">
					<header class="msger-header">
						<div class="msger-header-title">
							<a href="#"><img ng-src="/images/{{ userMess.avatar }}"
								style="border-radius: 100%; width: 35px; height: 35px; object-fit: cover;"
								alt=""></a> {{ userMess.username }}
						</div>

					</header>
					<main class="msger-chat">
						<div class="msg"
							ng-class="{'left-msg': mess.sender.userId !== 'myAccount.user.userId', 'right-msg': mess.sender.userId === myAccount.user.userId}"
							ng-repeat="mess in ListMess">
							<div class="msg-img"
								style="background-image: url(images/{{mess.sender.avatar}})"></div>
							<div class="msg-bubble">
								<div class="msg-info">
									<div class="msg-info-name">{{mess.sender.username}}</div>
									<div class="msg-info-time">{{
										getFormattedTimeAgo(mess.sendDate) }}</div>
								</div>
								<div class="msg-text">{{mess.content}}</div>
							</div>
						</div>

					</main>

					<form ng-show="ListMess.length>0" class="msger-inputarea">
						<input ng-model="newMess" type="text" class=" form-control"
							placeholder="Nhập tin nhắn của bạn...">
						<button type="submit" class="msger-send-btn"
							ng-click="sendMessage(myAccount.user.userId, newMess, userMess.userId)">Gửi</button>

					</form>

				</div>

			</div>
			<div class="col-md-3 menuLeft animate__animated animate__backInRight"
				style="position: fixed; right: 0; top: 70px;">
				<input class="form-control" placeholder="Tìm kiếm"
					style="margin-left: 5px">
				<ul class="list-unstyled mb-0" style="padding-left: 8px">
					<li ng-repeat="UsersMess in ListUsersMess"
						class="p-2 border-bottom" style="background-color: white;">

						<div class="user-profile"
							ng-if="UsersMess[0] === myAccount.user.userId"
							ng-click="getmess2(UsersMess[2], -1)">
							<!-- Nội dung khi UsersMess[0] = 'UI010' -->
							<a href="#"><img ng-src="/images/{{ UsersMess[5] }}"
								style="border-radius: 100%;" alt=""></a>
							<div style="width: 100%; line-height: 0.7rem;">
								<div style="display: flex;">
									<label class="ng-binding">{{ UsersMess[3] }}</label>
									<div ng-show = "UsersMess[8] == 'Đã gửi' && UsersMess[0] != myAccount.user.userId" class="circle mb-2" style="margin-left: 2rem"></div>
								</div>
								<!-- <i class="fa-solid fa-earth-americas fa-xs"></i> -->
								<br>
								<div style="display: flex; justify-content: space-between;">
									<small style="font-size: 12px;">{{UsersMess[6]}}</small> <small
										style="font-size: 12px; color: #65676b" class="ng-binding">
										{{getFormattedTimeAgo(UsersMess[7]) }} </small>
								</div>
							</div>
						</div>

						<div class="user-profile"
							ng-if="UsersMess[0] !== myAccount.user.userId"
							ng-click="getmess2(UsersMess[0] , UsersMess[9])">
							<!-- Nội dung khi UsersMess[0] khác 'UI010' -->
							<a href="#"><img ng-src="/images/{{ UsersMess[4] }}"
								style="border-radius: 100%;" alt=""></a>
							<div style="width: 100%; line-height: 0.7rem">
								<div style="display: flex;">
									<label class="ng-binding">{{ UsersMess[1] }}</label>
									<div ng-show = "UsersMess[8] == 'Đã gửi'" class="circle mb-2" style="margin-left: 2rem"></div>
								</div>
								<!-- <i class="fa-solid fa-earth-americas fa-xs"></i> -->
								<br>
								<div style="display: flex; justify-content: space-between;">
									<small style="font-size: 12px;">{{UsersMess[6]}}</small> <small
										style="font-size: 12px; color: #65676b" class="ng-binding">
										{{getFormattedTimeAgo(UsersMess[7]) }} </small>
								</div>

							</div>
						</div>

					</li>

				</ul>
			</div>
		</div>
	</div>

	<!-- load ảnh -->
	<script>
  let input = document.getElementById('inputGroupFile01');
  let imageList = document.getElementById('imageList');

  input.onchange = (e) => {
    imageList.innerHTML = ''; // Xóa danh sách hình ảnh hiện tại
    for (let i = 0; i < input.files.length; i++) {
      let img = document.createElement('img');
      img.src = URL.createObjectURL(input.files[i]);
      img.className = 'uploaded-image';
      imageList.appendChild(img);
    }
  };
</script>

	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.5.1/sockjs.min.js"></script>
	<script
		src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.min.js"></script>
	<script type="text/javascript">
angular.module('myApp', [])
.controller('myCtrl', function ($scope, $window, $http, $timeout) {
	$scope.LikePost = [];
    $scope.ListUsersMess = [];
    $scope.ListMessWith=[];
    $scope.myAccount={};
    $scope.ListMess=[];
    $scope.userMess={};
  //tìm acc của mình
    $http.get('/findmyaccount')
    .then(function (response) {
        var myAccount = response.data;
        $scope.myAccount = myAccount;
    })
    .catch(function (error) {
        console.log(error);
    });
    // Hoặc bạn có thể sử dụng $http như trước đây để lấy danh sách người đã từng nhắn tin
    $http.get('/getusersmess')
      .then(function (response) {
        var ListUsersMess = response.data;
        $scope.ListUsersMess = ListUsersMess;
      })
      .catch(function (error) {
        console.log(error);
      });
   

    

//Thay đổi URL SockJS tại đây nếu cần thiết
var sockJSUrl = '/chat';

// Tạo một đối tượng SockJS bằng cách truyền URL SockJS
var socket = new SockJS(sockJSUrl);

// Tạo một kết nối thông qua Stomp over SockJS
var stompClient = Stomp.over(socket);

// Khi kết nối WebSocket thành công
// Khi kết nối WebSocket thành công
stompClient.connect({}, function (frame) {
    console.log('Connected: ' + frame);

    // Đăng ký hàm xử lý khi nhận thông điệp từ server
    // Lắng nghe các tin nhắn được gửi về cho người dùng
    stompClient.subscribe('/user/'+$scope.myAccount.user.userId+'/queue/receiveMessage', function (message) {
        try {
            var newMess = JSON.parse(message.body);
            // Xử lý tin nhắn mới nhận được ở đây
            if($scope.userMess.userId==newMess.sender.userId){
            	$scope.ListMess.push(newMess);
            	
            	$http.get('/getusersmess')
                .then(function (response) {
                  var ListUsersMess = response.data;
                  $scope.ListUsersMess = ListUsersMess;
                })
                .catch(function (error) {
                  console.log(error);
                });
                $scope.$apply();
            }           	        
        } catch (error) {
            alert('Error handling received message:', error);
        }
    });
}, function (error) {
    console.error('Lỗi kết nối WebSocket:', error);
});
//hàm gửi tin nhắn
$scope.sendMessage = function (senderId, content, receiverId) {
    if (stompClient && stompClient.connected) {
        var message = {
            senderId: senderId,
            receiverId: receiverId,
            content: content
        };
        
        $http.post('/savemess', message)
        .then(function(response) {
        	stompClient.send('/app/sendnewmess', {}, JSON.stringify(response.data));
        	var check = response.data;
        	var ObjUpdate = $scope.ListUsersMess.find(function(obj) {        		
    			return check.receiver.userId === obj[0]||check.receiver.userId === obj[2] ;
    		});     	
        	ObjUpdate[0]=check.sender.userId;
        	ObjUpdate[1]=check.sender.username;
        	ObjUpdate[2]=check.receiver.userId;
        	ObjUpdate[3]=check.receiver.username;
        	ObjUpdate[4]=check.sender.avatar;
        	ObjUpdate[5]=check.receiver.avatar;
        	ObjUpdate[6]=check.content;
        	ObjUpdate[7]=new Date();
        	ObjUpdate[8]="Đã gửi";
        	ObjUpdate[9]=check.messId;
            
        })
        .catch(function(error) {
          console.log(error);
        });
        
        // Gửi tin nhắn thông qua kết nối WebSocket
        
        console.log('Tin nhắn đã được gửi thành công!');
        $scope.newMess = '';
        var newMess = {
                sender: { userId: senderId, username: $scope.myAccount.user.username, avatar: $scope.myAccount.user.avatar },
                receiver: { userId: receiverId },
                content: content,
                sendDate: new Date()
            };
            $scope.ListMess.push(newMess);
            for (var i = 0; i < $scope.ListUsersMess.length; i++) {
                if ($scope.ListUsersMess[i].userId === receiverId) {
                    $scope.ListUsersMess[i].status = 'Đã gửi';
                    break;
                }
            }
        $scope.scrollToBottom();
    } else {
        console.error('Kết nối WebSocket chưa mở. Không thể gửi tin nhắn.');
    }
};
	//tìm người đang nhắn với mình
    $scope.getmess2 = function (userId, messId) {
        $http.post('/getUser/' + userId)
        .then(function (response) {
            var userMess = response.data;
            $scope.userMess = userMess;
            // Tiếp tục request để lấy danh sách tin nhắn sau khi đã lấy thông tin người nhắn tin thành công
            return $http.get('/getmess2/' + userId);
        })
        .then(function (response) {
            var ListMess = response.data;
            $scope.ListMess = ListMess;
            
            // Gọi hàm scrollToBottom() sau khi cả hai request đều đã hoàn thành
            $timeout(function () {
                $scope.scrollToBottom();
            }, 100); // Thời gian chờ 100ms (có thể điều chỉnh số này tùy ý)
        })
        .catch(function (error) {
            console.log(error);
        });       
        
        if(messId != -1){
        	var messToUpdate = $scope.ListUsersMess.find(function(mess) {        		
    			return mess[9]=== messId;
    		});     	
            messToUpdate[8]="Đã xem";
            $http.post('/seen/'+messId)
            .then(function() {
    			
    		})
        }
        
    };
    
    $scope.scrollToBottom = function() {
    	  var chatContainer = document.querySelector('.msger-chat');
    	  chatContainer.scrollTop = chatContainer.scrollHeight;
    	};

    $scope.getFormattedTimeAgo = function(date) {
    	  var currentTime = new Date();
    	  var activityTime = new Date(date);
    	  var timeDiff = currentTime.getTime() - activityTime.getTime();
    	  var seconds = Math.floor(timeDiff / 1000);
    	  var minutes = Math.floor(timeDiff / (1000 * 60));
    	  var hours = Math.floor(timeDiff / (1000 * 60 * 60));
    	  var days = Math.floor(timeDiff / (1000 * 60 * 60 * 24));

    	  if (days === 0) {
    	    if (hours === 0 && minutes === 0) {
    	      return seconds + ' giây trước';
    	    } else if (hours === 0) {
    	      return minutes + ' phút trước';
    	    } else {
    	      return hours + ' giờ trước';
    	    }
    	  } else if (days === 1) {
    	    var formattedTime = 'Hôm qua';
    	    var hours = String(activityTime.getHours()).padStart(2, '0');
    	    var minutes = String(activityTime.getMinutes()).padStart(2, '0');
    	    var seconds = String(activityTime.getSeconds()).padStart(2, '0');
    	    formattedTime += ' ' + hours + ':' + minutes ;
    	    return formattedTime;

    	  } else {
    		  var formattedTime = activityTime.getDate() + '-' + (activityTime.getMonth() + 1) + '-' + activityTime.getFullYear();
      	    var hours = String(activityTime.getHours()).padStart(2, '0');
      	    var minutes = String(activityTime.getMinutes()).padStart(2, '0');
      	    var seconds = String(activityTime.getSeconds()).padStart(2, '0');
      	    formattedTime += ' ' + hours + ':' + minutes ;
      	    return formattedTime;
    	  }
    	};
    	

});     
</script>

</body>

</html>

</html>